<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<link rel="stylesheet" th:href="@{/css/admin/common.css}">
	<link rel="stylesheet" th:href="@{/css/student/report.css}">
</head>

<body>

	<!-- サイドバーの表示 -->
	<div layout:fragment="sidebar" th:replace="~{fragments/sidebar :: sidebar}">
	</div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="offcanvas-outside bg-light">
		<div class="container-fluid">
			<!-- トグルボタン -->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>

			<div class="row">
				<div class="col">
					<div class="card shadow">

						<div class="card-header">
							<h2 class="text-center text-navy my-2" th:text="#{create.student.title}"></h2>
						</div>

						<div class="card-body form-card-body-report">

							<form th:action="@{/student/save-report}" method="post"
								th:object="${studentCreateReportForm}" autocomplete="off">

								<!-- learningContents -->
								<div class="mb-2　form-group">
									<label for="learningContents" class="form-label"
										th:text="#{learningContents}"></label>
									<textarea th:field="*{learningContents}" rows="3" cols="137" th:errorclass="is-invalid"></textarea>
									<div class="invalid-feedback" th:errors="*{learningContents}">
									</div>
								</div>

								<!-- understanding -->
								<div class="mb-2　form-group">
									<p class="form-label" th:text="#{understanding}"></p>
									<div th:each="item : ${underMap}" class="form-check-inline">
										<input type="radio" class="form-check-input radio-button"
											th:value="${item.value}" th:field="*{understanding}"
											th:errorclass="is-invalid" />
										<label th:for="${#ids.prev('understanding')}"
											class="form-check-label radio-button-label" th:text="${item.key}"></label>
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('understanding')}"
										th:errors="*{understanding}">
									</div>
								</div>

								<!-- understandingDetail -->
								<div class="mb-2　form-group">
									<label for="understandingDetail" class="form-label"
										th:text="#{understandingDetail}"></label>
									<textarea th:field="*{understandingDetail}" rows="3" cols="137" th:errorclass="is-invalid"></textarea>
									<div class="invalid-feedback" th:errors="*{understandingDetail}">
									</div>
								</div>

								<!-- teacherSupport -->
								<div class="mb-2　form-group">
									<p class="form-label" th:text="#{teacherSupport}"></p>
									<div th:each="item : ${teacherMap}" class="form-check-inline">
										<input type="radio" class="form-check-input radio-button"
											th:value="${item.value}" th:field="*{teacherSupport}"
											th:errorclass="is-invalid" />
										<label th:for="${#ids.prev('teacherSupport')}"
											class="form-check-label radio-button-label" th:text="${item.key}"></label>
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('teacherSupport')}"
										th:errors="*{teacherSupport}">
									</div>
								</div>

								<!-- question -->
								<div class="mb-2　form-group">
									<label for="question" class="form-label" th:text="#{question}"></label>
									<textarea th:field="*{question}" rows="3" cols="137" th:errorclass="is-invalid"></textarea>
									<div class="invalid-feedback" th:errors="*{question}">
									</div>
								</div>

								<button class="btn btn-navy form-btn my-3" type="submit" th:text="#{insert}"></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>