<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>

	<!-- サイドバーの表示 -->
	<div layout:fragment="sidebar" th:replace="~{fragments/sidebar :: sidebar}">
	</div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="offcanvas-outside bg-light">
		<div class="container-fluid">
			<!-- トグルボタン -->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>

			<div class="row">
				<div class="col">
					<div class="card shadow mt-3">

						<div class="card-header">
							<h3 class="text-center text-navy my-3" th:text="#{admin.home}"></h3>

							<table th:each="account : ${loginAccount}" class="tbl-header my-1">
								<tr>
									<th th:text="#{name}"></th>
									<td th:text="${account.name}"></td>
								</tr>
								<tr>
									<th th:text="#{student.date.today}"></th>
									<td th:text="${today}"></td>
								</tr>
							</table>

						</div>

						<div class="card-body table-responsive">
							<h4 th:text="#{student.report}"></h4>
							<table class="tbl-list">
								<tr>
									<th th:text="#{coursename}" class="admin-list-course"></th>
									<th th:text="#{count.student.report.minusdays}" class="admin-list-course"></th>
									<th th:text="#{count.student.report.today}" class="admin-list-course"></th>
									<th th:text="#{count.student.course}" class="admin-list-course"></th>
								</tr>
								<th:block th:each="item : ${courseStudentMap}">
									<tr>
										<td th:text="${item.getKey()}"></td>
										<th:block th:each="count : ${item.getValue()}">
											<td th:text="${count}" class="admin-list-td"></td>
										</th:block>
									</tr>
								</th:block>
							</table>
							
							<h4 class="mt-3" th:text="#{teacher.daily.report}"></h4>
							<table class="tbl-list">
								<tr>
									<th th:text="#{coursename}" class="admin-list-course"></th>
									<th th:text="#{count.teacher.daily.report.minusdays}" class="admin-list-course"></th>
									<th th:text="#{count.teacher.daily.report.today}" class="admin-list-course"></th>
								</tr>
								<th:block th:each="item : ${courseTeacherDailyReportMap}">
									<tr>
										<td th:text="${item.getKey()}"></td>
										<th:block th:each="count : ${item.getValue()}">
											<td th:text="${count}" class="admin-list-td"></td>
										</th:block>
									</tr>
								</th:block>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>