<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<link rel="stylesheet" th:href="@{/css/admin/common.css}">
</head>

<body>

	<!-- サイドバーの表示 -->
	<div layout:fragment="sidebar" th:replace="~{fragments/sidebar :: sidebar}">
	</div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="offcanvas-outside bg-light">
		<div class="container-fluid">
			<!-- トグルボタン -->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>

			<div class="row">
				<div class="col">
					<div class="card shadow mt-3">

						<div class="card-header">
							<h3 class="text-center text-navy my-3" th:text="#{updateclient.title}"></h3>
							
							<!-- メッセージ -->
							<div th:replace="~{fragments/message :: client}">
							</div>
							
						</div>

						<!-- クライアント名更新 -->
						<div class="card-body form-card-body">
							<form th:action="@{/admin/update-client}" method="post" th:object="${clientForm}"
								autocomplete="off">
								<input type="hidden" name="id" th:field="*{id}" />

								<!-- clientname -->
								<div class="mb-3">
									<label for="clientname" class="form-label" th:text="#{clientname}"></label>
									<input class="form-control" type="text" th:errorclass="is-invalid"
										th:field="*{clientname}">
									<div class="invalid-feedback" th:errors="*{clientname}">
									</div>
								</div>

								<button class="btn btn-navy form-btn" type="submit"
									th:text="#{update}"></button>
							</form>
						</div>

						<form th:action="@{/admin/list-client}" method="get">
							<input type="submit" th:value="#{return.list}" class="btn btn-dark form-btn mb-3" />
						</form>

					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>