.form-card-body-report{
	width: 100%;
    max-width: 1100px;
    display: block;
    margin: auto;
}

.form-textarea{
	border-radius:5px;				/* 角丸 */
}

.form-select-student{
	margin: auto;
}

.form-error{
    text-align: center;
}