<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<!-- ログインメッセージ -->
	<div th:fragment="login">
		<div class="alert alert-danger" th:if="${param.error}">
			<small th:text="#{login.error.ms}"></small>
		</div>
		<div class="alert alert-success" th:if="${param.logout}">
			<small th:text="#{login.logout.ms}"></small>
		</div>
	</div>

	<!-- 講座名登録・更新 -->
	<div th:fragment="course">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{course.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="course">
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{course.update.ms}"></small>
		</div>
	</div>

	<!-- クライアント名登録・更新 -->
	<div th:fragment="client">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{client.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="client">
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{client.update.ms}"></small>
		</div>
	</div>
	
	<!-- アカウント登録・更新 -->
	<div th:fragment="account">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{account.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="account">
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{account.update.ms}"></small>
		</div>
	</div>
	
	<!-- 単元テスト名登録・更新 -->
	<div th:fragment="miniexam">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{miniexam.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="miniexam">
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{miniexam.update.ms}"></small>
		</div>
	</div>
	
	<!-- 講師日報登録・更新 -->
	<div th:fragment="teacher">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{teacher.report.daily.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-danger ms" th:if="${param.saveerror}">
			<small th:text="#{teacher.report.daily.saveerror.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-danger ms" th:if="${param.editerror}">
			<small th:text="#{teacher.report.daily.editerror1.ms}"></small><br>
			<small th:text="#{teacher.report.daily.editerror2.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{teacher.report.daily.update.ms}"></small>
		</div>
	</div>
	
	<!-- 講師週報登録・更新 -->
	<div th:fragment="teacher">
		<div class="alert alert-success ms" th:if="${param.saveweekly}">
			<small th:text="#{teacher.report.weekly.save.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-danger ms" th:if="${param.saveweeklyerror}">
			<small th:text="#{teacher.report.weekly.saveerror.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-danger ms" th:if="${param.editweeklyerror}">
			<small th:text="#{teacher.report.weekly.editerror1.ms}"></small><br>
			<small th:text="#{teacher.report.weekly.editerror2.ms}"></small>
		</div>
	</div>
	<div th:fragment="teacher">
		<div class="alert alert-success ms" th:if="${param.updateweekly}">
			<small th:text="#{teacher.report.weekly.update.ms}"></small>
		</div>
	</div>
	
	<!-- 受講生日報登録・更新 -->
	<div th:fragment="student">
		<div class="alert alert-success ms" th:if="${param.save}">
			<small th:text="#{student.report.save.ms}"></small>
		</div>
		<div class="alert alert-danger ms" th:if="${param.saveerror}">
			<small th:text="#{student.report.saveerror.ms}"></small>
		</div>
		<div class="alert alert-danger ms" th:if="${param.editerror}">
			<small th:text="#{student.report.editerror1.ms}"></small><br>
			<small th:text="#{student.report.editerror2.ms}"></small>
		</div>
		<div class="alert alert-success ms" th:if="${param.update}">
			<small th:text="#{student.report.update.ms}"></small>
		</div>
	</div>
	
	<!-- ログイン情報更新メッセージ -->
	<div th:fragment="info">
		<div class="alert alert-success ms mt-2 mb-4" th:if="${param.update}">
			<small th:text="#{info.update.ms}"></small>
		</div>
	</div>

	<!-- エラーメッセージ(404 Not Foundなど) -->
	<div th:fragment="error">
		<div class="text-center">
			<div class="display-1" th:text="${status}"></div>
			<div class="text-muted mb-4" th:text="${error}"></div>

			<div class="text-muted">ページを表示できません</div>
			<a th:href="@{/dailyreport/loginFork}">&larr; ホームに戻る</a>
		</div>
	</div>

</body>

</html>