.form-card-body {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    display: block;
    margin: auto;
}

.form-label {
    text-align: center;
    display: block;
    font-weight: bold;
}

.form-btn {
    display: block;
    margin: auto;
    width: 150px;
}

.form-select{
	width: 390px;
}