.tbl-list th {
    text-align: center;
}

.tbl-list td{
	vertical-align: middle;
}

.list-id {
    width: 70px;
}

.list-role{
	width: 90px;
}

.list-course {
    width: 200px;
}

.list-client {
    width: 200px;
}

.list-date {
    width: 120px;
}

.list-a{
	display: block;
	margin:auto;
}

.list-textarea{
	width: 230px;
}

.list-und{
	width: 125px;
}

.list-teach{
	width: 160px;
}