<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>

	<!-- サイドバーの表示 -->
	<div layout:fragment="sidebar" th:replace="~{fragments/sidebar :: sidebar}">
	</div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="offcanvas-outside bg-light">
		<div class="container-fluid">
			<!-- トグルボタン -->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>

			<div class="row">
				<div class="col">
					<div class="card shadow mt-3">

						<div class="card-header">
							<h3 class="text-center text-navy my-3" th:text="#{past.teacher.miniexam}"></h3>

							<table th:each="account : ${loginAccount}" class="tbl-header my-1">
								<tr>
									<th th:text="#{name}"></th>
									<td th:text="${account.name}"></td>
								</tr>
								<th:block th:switch="${account.role}">
									<th:block th:case=2>
										<tr>
											<th th:text="#{coursename}"></th>
											<td th:text="${account.courseName}"></td>
										</tr>
									</th:block>
									<th:block th:case=3>
										<tr>
											<th th:text="#{coursename}"></th>
											<td th:text="${account.courseName}"></td>
										</tr>
									</th:block>
									<th:block th:case=5>
										<tr>
											<th th:text="#{student.clientname}"></th>
											<td th:text="${account.clientName}"></td>
										</tr>
										<tr>
											<th th:text="#{coursename}"></th>
											<td th:text="${account.courseName}"></td>
										</tr>
									</th:block>
								</th:block>
								<tr>
									<th th:text="#{student.date.today}"></th>
									<td th:text="${today}"></td>
								</tr>
							</table>

							<!-- メッセージ -->
							<div th:replace="~{fragments/message :: common}">
							</div>

						</div>

						<div class="card-body">
							<form th:action="@{/past/student-mini-exam-report}" method="post"
								th:object="${pastStudentMiniExamReportForm}" autocomplete="off">
								<table class="tbl-list">
									<tr>
										<th:block sec:authorize="hasAuthority('ADMIN')">
											<th th:text="#{coursename}" class="admin-list-course"></th>
											<th th:text="#{clientname}" class="admin-list-course"></th>
										</th:block>
										<th:block
											sec:authorize="hasAuthority('ADMIN') or hasAuthority('TEACHER') or hasAuthority('CLIENT')">
											<th th:text="#{student.name}" class="admin-list-course"></th>
										</th:block>
									</tr>
									<tr>
										<th:block sec:authorize="hasAuthority('ADMIN')">
											<td>
												<!-- course -->
												<div class="form-group mt-2">
													<select id="courseNameId" name="courseNameId" class="form-select">
														<option></option>
														<option th:each="course : ${courses}" th:value="${course.id}"
															th:text="${course.courseName}"
															th:selected="${course.id} == *{courseNameId}"
															th:field="*{courseNameId}" th:errorclass="is-invalid">
														</option>
													</select>
													<div class="text-danger"
														th:if="${#fields.hasErrors('courseNameId')}"
														th:errors="*{courseNameId}">
													</div>
												</div>
											</td>
											<td>
												<!-- client -->
												<div class="form-group mt-2">
													<select id="clientNameId" name="clientNameId" class="form-select">
														<option></option>
														<option th:each="client : ${clients}" th:value="${client.id}"
															th:text="${client.clientName}"
															th:selected="${client.id} == *{clientNameId}"
															th:field="*{clientNameId}" th:errorclass="is-invalid">
														</option>
													</select>
													<div class="text-danger"
														th:if="${#fields.hasErrors('clientNameId')}"
														th:errors="*{clientNameId}">
													</div>
												</div>
											</td>
										</th:block>
										<th:block
											sec:authorize="hasAuthority('ADMIN') or hasAuthority('TEACHER') or hasAuthority('CLIENT')">
											<td>
												<!-- students -->
												<div class="form-group mt-2">
													<select id="id" name="id" class="form-select">
														<option></option>
														<option th:each="student : ${students}" th:value="${student.id}"
															th:text="${student.name}"
															th:selected="${student.id} == *{id}" th:field="*{id}"
															th:errorclass="is-invalid">
														</option>
													</select>
													<div class="text-danger" th:if="${#fields.hasErrors('id')}"
														th:errors="*{id}">
													</div>
												</div>
											</td>
											<td>
												<button class="btn btn-navy form-btn" type="submit"
													th:text="#{search}"></button>
											</td>
										</th:block>
									</tr>
								</table>
							</form>
						</div>

						<div class="card-body table-responsive">
							<table id="table-csv" class="table table-bordered tbl-list">
								<thead>
									<tr>
										<th class="admin-list-course" th:text="#{coursename}"></th>
										<th th:text="#{miniexamName}"></th>
										<th class="list-date" th:text="#{student.name}"></th>
										<th class="list-date" th:text="#{student.score}"></th>
										<th class="list-date" th:text="#{class.score}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="report : ${studentreports}">
										<td th:text="${report.studentsDate}"></td>
										<td th:text="${report.name}"></td>
										<td th:text="${report.learningContents}"></td>
										<td th:text="${report.understandingDetail}"></td>
										<td th:text="${report.question}"></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>